<div class="row col-lg-12">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="body">
        <div class="table-responsive">
          <div class="materialTableHeader"
               style="/*min-width: 0px !important;max-width: 667px !important;*/">
            <div class="row">
              <div class="col-8">
                <ul class="header-buttons-left ms-0">
                  <li class="dropdown m-l-20">
                    <label for="search-input"><i
                      class="material-icons search-icon">search</i></label>
                    <input placeholder="Buscar plan" [(ngModel)]="SearchDataServe"
                           type="text" #filter class="browser-default search-field"
                           aria-label="Search box">
                  </li>
                  <li>
                    <div class="icon-button-demo m-l-10" [hidden]=!selection.hasValue()>
                      <button [disabled]="btnLoadingDelete"
                              [class.SpinnerLoading]="btnLoadingDelete" mat-mini-fab
                              color="warn" (click)="removeSelectedRows()">
                        <mat-icon class="col-white">delete</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="col-4">
                <ul class="header-buttons">
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="addNew()">
                        <mat-icon class="col-white">add</mat-icon>
                      </button>
                    </div>
                  </li>
                  <li>
                    <div class="icon-button-demo">
                      <button mat-mini-fab color="primary" (click)="refresh()">
                        <mat-icon class="col-white">refresh</mat-icon>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <mat-table #table [dataSource]="dataSource" matSort class="mat-cell"
                     style="/*min-width: 0px !important;max-width: 667px !important;*/">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-11'">
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-header-cell>
              <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-11'">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                </mat-checkbox>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="img">
              <mat-header-cell mat-header-cell *matHeaderCellDef
                               [ngClass]="'tbl-col-width-per-50'"> Image
              </mat-header-cell>
              <mat-cell mat-cell *matCellDef="let row" class="table-img tbl-col-width-per-50">
                <img
                  [src]="'assets/images/user/user1.jpg'"/>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="plan_descri">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                               [ngClass]="'tbl-col-width-per-50'">Nombre
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="table-img tbl-col-width-per-50"> {{row.plan_descri}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="plan_valor">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                               [ngClass]="'tbl-col-width-per-50'">Valor
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="table-img tbl-col-width-per-50"> {{row.plan_valor | currency}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="plan_fecha">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                               [ngClass]="'tbl-col-width-per-50'">Fecha
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        [ngClass]="'tbl-col-width-per-50'"> {{row.plan_fecha| date: 'MMM d, y, h:mm:ss a'}}
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="plan_desc">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                               [ngClass]="'tbl-col-width-per-50'">Descuento
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="table-img tbl-col-width-per-50"> {{row.plan_desc | percent}}</mat-cell>
            </ng-container>
            <ng-container matColumnDef="plan_desc_meses">
              <mat-header-cell *matHeaderCellDef mat-sort-header
                               [ngClass]="'tbl-col-width-per-50'">Meses de Descuento
              </mat-header-cell>
              <mat-cell *matCellDef="let row"
                        class="table-img tbl-col-width-per-50"> {{row.plan_desc_meses}}</mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef class="pr-0">Actions</mat-header-cell>
              <mat-cell *matCellDef="let row; let i=index;" class="pr-0">
                <button mat-icon-button color="accent" class="btn-tbl-edit"
                        (click)="$event.stopPropagation()"
                        (click)="editCall(row)">
                  <mat-icon aria-label="Edit" class="col-white">edit</mat-icon>
                </button>
                <button mat-icon-button color="accent" class="btn-tbl-delete"
                        (click)="$event.stopPropagation()"
                        (click)="deleteItem(i, row)">
                  <mat-icon aria-label="Delete" class="col-white">delete</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
            <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="editCall(row)"
                     [style.cursor]="'pointer'" matRipple>
            </mat-row>
          </mat-table>
          <!-- Loading spinner -->
          <div *ngIf="_PlanServices.isTblLoading" class="tbl-spinner">
            <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
            </mat-progress-spinner>
          </div>
          <div *ngIf="!_PlanServices.isTblLoading" class="no-results"
               [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
            Sin coincidencias.
          </div>
          <mat-paginator #paginator [length]="dataSource.dataModel.count"
                         [pageIndex]="dataModel.pageIndex"
                         [pageSize]="dataSource.dataModel.limit"
                         [pageSizeOptions]="[10, 25, 50, 100]" (page)="getData($event)">
          </mat-paginator>
          <!-- <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[1, 10, 25, 100]">
          </mat-paginator> -->
        </div>
      </div>
    </div>
  </div>
</div>
