<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h2>Crear nuevo tratamiento</h2>
    </div>
    <form class="register-form m-4" [formGroup]="doctorsEspe" (ngSubmit)="submit()"
          autocomplete="off">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre del tratamiento</mat-label>
            <input matInput formControlName="tratamiento_descri" required>
            <mat-icon matSuffix>announcement</mat-icon>
            <mat-error *ngIf="doctorsEspe.get('tratamiento_descri').hasError('required')">
              Nonbre del tratamiento es requerido.
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button class="btn-space" mat-raised-button color="primary"
                  [disabled]="!doctorsEspe.valid || loading" [class.SpinnerLoading]="loading">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
