<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{ dialogTitle }}
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <mat-stepper #stepper>
      <mat-step [stepControl]="FirstPaymentForm" errorMessage="Existen datos inválidos.">
        <form class="register-form m-4" [formGroup]="FirstPaymentForm" (ngSubmit)="(submit)" autocomplete="off">
          <ng-template matStepLabel>Datos del pago</ng-template>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <DevCode-auto-complete-patient (pk_patient)="GetPkPatient($event)"></DevCode-auto-complete-patient>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <DevCode-auto-complete-doctor (pk_doctor)="GetPkDoctor($event)"></DevCode-auto-complete-doctor>
            </div>
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="invoice_fecha" required />
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="FirstPaymentForm.get('invoice_fecha').hasError('required')">
                  Por favor selecione una fecha.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Descuento</mat-label>
                <input matInput formControlName="invoice_desc" required suffix="%" [specialCharacters]="['%']"
                  mask="99" />
                <mat-icon matSuffix>percent</mat-icon>
                <mat-error *ngIf="FirstPaymentForm.get('invoice_desc').hasError('required')">
                  Descuento es requerido.
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div style="margin-bottom: 20px !important;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
              <mat-checkbox (change)="ShowRepre()" [disabled]="!pk_patient" formControlName="invoice_repre"
                class="example-margin" color="primary">
                Representante?</mat-checkbox>
            </div>
          </div>
          <ng-container *ngIf="CheckRepre">
            <mat-list>
              <mat-list-item *ngFor="let repre of Representante;let i=index">
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100" style="margin: 15px;" fxLayoutGap="15px">
                  <div fxFlex="10">
                    <mat-checkbox [disabled]="repre.repre_indeterminated" (change)="SelectedRepre(repre.pk_repre)"
                      class="example-margin" color="primary">
                    </mat-checkbox>
                  </div>
                  <div fxFlex="20">
                    <label for="">{{repre.repre_cedula}}</label>
                  </div>
                  <div fxFlex="30">
                    <label for="">{{repre.repre_apellidos}} {{repre.repre_nombres}}</label>
                  </div>
                  <div fxFlex="30">
                    <label for="">{{repre.repre_correo}}</label>
                  </div>
                </div>
                <mat-divider *ngIf="i!=Representante.length-1"></mat-divider>
              </mat-list-item>
              <!-- <mat-divider></mat-divider> -->
              <div *ngIf="FirstPaymentForm.get('pk_repre').value==0">
                <div fxLayout="column" fxFlex="100">
                  <div fxFlex="100" style="margin-top: 20px;" fxLayout="row" fxLayoutAlign="space-between center"
                    fxLayoutGap="15px">
                    <div fxFlex="33">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Cédula</mat-label>
                        <input matInput formControlName="repre_cedula" />
                        <mat-icon matSuffix>assignment_ind</mat-icon>
                        <mat-error *ngIf="FirstPaymentForm.get('repre_cedula').hasError('required')">
                          Cedula es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="33">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Apellidos</mat-label>
                        <input matInput formControlName="repre_apellidos" />
                        <mat-error *ngIf="FirstPaymentForm.get('repre_apellidos').hasError('required')">
                          Discount es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="33">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nombres</mat-label>
                        <input matInput formControlName="repre_nombres" />
                        <mat-error *ngIf="FirstPaymentForm.get('repre_nombres').hasError('required')">
                          Discount es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center" fxLayoutGap="15px">
                    <div fxFlex="25">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Correo</mat-label>
                        <input matInput formControlName="repre_correo" />
                        <mat-icon matSuffix>email</mat-icon>
                        <mat-error *ngIf="FirstPaymentForm.get('repre_correo').hasError('required')">
                          Correo es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="25">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput formControlName="repre_telefono" />
                        <mat-icon matSuffix>phone</mat-icon>
                        <mat-error *ngIf="FirstPaymentForm.get('repre_telefono').hasError('required')">
                          Teléfono es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxFlex="50">
                      <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput formControlName="repre_direccion" />
                        <mat-icon matSuffix>room</mat-icon>
                        <mat-error *ngIf="FirstPaymentForm.get('repre_direccion').hasError('required')">
                          Dirección es requerido.
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </mat-list>
          </ng-container>
        </form>
        <div class="StepButtom">
          <button mat-button matStepperNext (click)="verificacion()">Siguiente</button>
        </div>
      </mat-step>
      <mat-step [stepControl]="SecondPaymentForm" errorMessage="Name es requerido..">
        <ng-template matStepLabel>Detalle del pago</ng-template>
        <div class="example-action-buttons">
          <button mat-button (click)="accordion.openAll()">Expandir todo</button>
          <button mat-button (click)="accordion.closeAll()">Contraer todo</button>
        </div>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title style="margin-top: 10px;">
                Pagos Mensuales
              </mat-panel-title>
              <mat-panel-description style="height:40px">
                Agrega uno o varios meses de pago.
                <mat-icon matBadgePosition="below" matBadge="{{Months.length}}" matBadgeColor="warn"
                  matBadgeSize="small">date_range</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <mat-list>
              <div mat-subheader>
                <button (click)="AddMonth()" mat-mini-fab color="accent" #tooltip="matTooltip"
                  matTooltip="Agregar nuevo mes de pago" matTooltipPosition="right">
                  <mat-icon>playlist_add</mat-icon>
                </button>
                <div align="right" style="width: 100%;margin-top: 10px;display: flex;justify-content: flex-end">
                  <div style="display: flex;flex-direction: row;align-items: center;align-content: center;">
                    <h3>Total</h3>&nbsp;
                    <h4>{{InvoiceDetail[0].details_total | currency}}</h4>
                  </div>
                </div>
              </div>
              <mat-list-item *ngFor="let month of Months;let i = index">
                <mat-icon mat-list-icon>date_range</mat-icon>
                <div mat-line>{{month.plan_descri}}</div>
                <div mat-line> {{month.plan_valor | currency}}, {{month.plan_desc | percent}} </div>
                <mat-divider *ngIf="i!=Months.length-1"></mat-divider>
                {{month.plan_total | currency}}
                <button (click)="RemoveMonth(i)" mat-icon-button color="warn" #tooltip="matTooltip"
                  matTooltip="Remover pago mensual." matTooltipPosition="right">
                  <mat-icon>remove</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Productos
              </mat-panel-title>
              <mat-panel-description>
                Agrega uno o varios meses de pago.
                <mat-icon>add_shopping_cart</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            hola
          </mat-expansion-panel>
        </mat-accordion>

        <div class="StepButtom">
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-button matStepperNext>Siguiente</button>
        </div>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Comprobar pago</ng-template>
        <div fxLayout="row" fxLayoutAlign="space-around start" fxFlex="100" class="m-b-20">
          <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="50" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
              <h5 class="m-b-0">Cédula:</h5>
              <label class="font-17">{{ShowData.repre_cedula}}</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
              <h5 class="m-b-0">Nombre y Apellidos:</h5>
              <label class="font-17">{{ShowData.repre_apellidos}} {{ShowData.repre_nombres}}</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
              <h5 class="m-b-0">Correo:</h5>
              <label class="font-17">{{ShowData.repre_correo}}</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
              <h5 class="m-b-0">Teléfono:</h5>
              <label class="font-17">{{ShowData.repre_telefono}}</label>
            </div>
            <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="3px">
              <h5 class="m-b-0">Dirección:</h5>
              <label class="font-17">{{ShowData.repre_direccion}}</label>
            </div>
          </div>
          <div fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="40" fxLayoutGap="15px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h5 class="m-b-0">Subtotal 0%</h5>
              <label class="font-17">{{payment.invoice_subTotal0 | currency}}</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h5 class="m-b-0">Subtotal 12%</h5>
              <label class="font-17">{{payment.invoice_subTotal12 | currency}}</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h5 class="m-b-0">Subtotal</h5>
              <label class="font-17">{{payment.invoice_subTotal | currency}}</label>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h5 class="m-b-0">Descuento {{(payment.invoice_desc/100) | percent}}</h5>
              <label class="font-17">{{payment.invoice_desc | currency}}</label>
            </div>
            <mat-divider></mat-divider>
            <div fxLayout="row" fxLayoutAlign="space-between center">
              <h3 class="m-b-0">Total</h3>
              <label class="font-20">{{payment.invoice_total | currency}}</label>
            </div>
            <img class="img-fluid img-thumbnail m-t-30" src="assets/images/invoice/payment-visa.png" />
          </div>
        </div>
        <div class="StepButtom">
          <button mat-button matStepperPrevious>Atras</button>
          <button mat-raised-button color="primary" [type]="submit" [disabled]="!FirstPaymentForm.valid"
            [mat-dialog-close]="1" (click)="confirmAdd()">
            Save
          </button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
<ng-container *ngIf="LoadingSaveData">
  <div class="modalFooterBar">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>