<div class="container">
  <h3 mat-dialog-title>¿Esta usted seguro?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"> Nombre del Doctor: </span>{{data.doctor_apellidos.split(' ')[0]}} {{data.doctor_nombre.split(' ')[0]}}</p>
      </li>
      <li>
        <p><span class="font-weight-bold"> Cédula: </span>{{ data.doctor_cedula }}</p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Email: </span>{{data.doctor_email}}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Celular: </span>{{data.doctor_telefono}}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" (click)="confirmDelete()" [disabled]="loading" [class.SpinnerLoading]="loading">
      Eliminar
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
