<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img [src]='patient.paciente_imagen' alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="patientForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="paciente_apellidos" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('paciente_apellidos').hasError('required')">
              Apellidos es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="paciente_nombres" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('paciente_nombres').hasError('required')">
              Nombres es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="paciente_cedula" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('paciente_cedula').hasError('required')">
              Cédula es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="paciente_correo" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('paciente_correo').hasError('required')">
              Correo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Celular</mat-label>
              <input matInput formControlName="paciente_celular" type="text" required>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="patientForm.get('paciente_celular').hasError('required')">
                Celular es requerido!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Fecha de nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="paciente_fechanac" required>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="patientForm.get('paciente_fechanac').hasError('required')">
                Por favor seleccione fecha de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Edad</mat-label>
              <input matInput formControlName="paciente_edad" type="text" required>
              <mat-icon matSuffix>phone</mat-icon>
              <mat-error *ngIf="patientForm.get('paciente_edad').hasError('required')">
                Edad es requerido!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="m-b-20">
            <mat-label class="msr-3">Género:</mat-label>
            <mat-radio-group aria-label="Select gender" formControlName="paciente_genero" required>
              <mat-radio-button value="Hombre">Hombre</mat-radio-button>
              <mat-radio-button value="Mujer">Mujer</mat-radio-button>
              <mat-error *ngIf="patientForm.get('paciente_genero').hasError('required')">
                Selecciona un Género
              </mat-error>
            </mat-radio-group>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Dirección</mat-label>
            <textarea matInput formControlName="paciente_direccion" required></textarea>
            <mat-error *ngIf="patientForm.get('paciente_direccion').hasError('required')">
              Selecciona un Género
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" required>
            <mat-label>Grupo sanguíneo</mat-label>
            <mat-select formControlName="paciente_grupo" required>
              <mat-option [value]="'A+'">
                A+
              </mat-option>
              <mat-option [value]="'B+'">
                B+
              </mat-option>
              <mat-option [value]="'O+'">
                O+
              </mat-option>
              <mat-option [value]="'AB+'">
                AB+
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.get('paciente_grupo').hasError('required')">
              Grupo sanguíneo es requerido!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" required>
              <mat-label>Tratamiento</mat-label>
              <mat-select formControlName="fk_tratamiento" required>
                <mat-option *ngFor="let item of valoresTratamientos" [value]='item.pk_tratamiento'>{{item.tratamiento_descri}}</mat-option>
              </mat-select>
              <mat-error *ngIf="patientForm.get('fk_tratamiento').hasError('required')">
                Tratamiento es requerido!
              </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline" required>
              <mat-label>Plan</mat-label>
              <mat-select formControlName="fk_plan" required>
                <mat-option *ngFor="let item of valoresPlan" [value]="item.pk_plan">{{item.plan_descri}}</mat-option>
              </mat-select>
              <mat-error *ngIf="patientForm.get('fk_plan').hasError('required')">
                Plan es requerido!
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!patientForm.valid || loading"
              (click)="confirmAdd()" [class.SpinnerLoading]="loading">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
