<form [formGroup]="paymentForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nombre del Paciente</mat-label>
    <input type="text" (keyup)="ChangeStatus()" placeholder="Nombre de paciente" matInput formControlName="PatientName"
      required [matAutocomplete]="autoPatient">
    <mat-icon matSuffix>face</mat-icon>
    <mat-autocomplete autoActiveFirstOption #autoPatient="matAutocomplete"
      (optionSelected)="ChangePatient($event.option.id)">
      <mat-option style="line-height: 25px;" *ngFor="let option of filteredOptions | async" [id]="option"
        [value]="option.paciente_apellidos+' '+option.paciente_nombres">
        <div>
          <label style="font-size:16px;">
            {{option.paciente_apellidos}} {{option.paciente_nombres}}
          </label>
          <label class="row" style="font-size:12px;margin-left: -3px">
            &nbsp;Cédula: {{option.paciente_cedula}}
          </label>
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="paymentForm.get('PatientName').hasError('required')">
      Paciente es requerido!
    </mat-error>
  </mat-form-field>
</form>