<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <!-- <img [src]='patient.paciente_imagen' alt="avatar"> -->
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 msl-3 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="patientForm" (ngSubmit)="submit">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="doctor_apellidos" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('doctor_apellidos').hasError('required')">
              Apellidos es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="doctor_nombre" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="patientForm.get('doctor_nombre').hasError('required')">
              Nombres es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Cédula</mat-label>
            <input matInput formControlName="doctor_cedula" required>
            <mat-icon matSuffix>credit_card</mat-icon>
            <mat-error *ngIf="patientForm.get('doctor_cedula').hasError('required')">
              Cédula es requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="doctor_email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="patientForm.get('doctor_email').hasError('required')">
              Correo es requerido
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Celular</mat-label>
            <input matInput formControlName="doctor_telefono" type="text" required>
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="patientForm.get('doctor_telefono').hasError('required')">
              Celular es requerido!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" required>
            <mat-label>Estado civil</mat-label>
            <mat-select formControlName="doctor_estado_civil" required>
              <mat-option [value]="'Soltero'">
                Soltero
              </mat-option>
              <mat-option [value]="'Casado'">
                Casado
              </mat-option>
              <mat-option [value]="'Divorsiado'">
                Divorsiado
              </mat-option>
              <mat-option [value]="'Viudo'">
                Viudo
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.get('doctor_estado_civil').hasError('required')">
              Estado civil es requerido!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 mb-2">
          <mat-form-field class="example-full-width " appearance="outline" required>
            <mat-label>Grupo sanguíneo</mat-label>
            <mat-select formControlName="doctor_grupo_sanguineo" required>
              <mat-option [value]="'A+'">
                A+
              </mat-option>
              <mat-option [value]="'B+'">
                B+
              </mat-option>
              <mat-option [value]="'O+'">
                O+
              </mat-option>
              <mat-option [value]="'AB+'">
                AB+
              </mat-option>
            </mat-select>
            <mat-error *ngIf="patientForm.get('doctor_grupo_sanguineo').hasError('required')">
              Grupo sanguíneo es requerido!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-raised-button color="primary" [type]="submit" [disabled]="!patientForm.valid || loading"
              (click)="confirmAdd()" [class.SpinnerLoading]="loading">Guardar</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>