<div class="container">
  <h3 mat-dialog-title>Desea eliminar este registro?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"> Nombre del Paciente: </span>{{data.paciente_apellidos.split(' ')[0]}} {{data.paciente_nombres.split(' ')[0]}}</p>
      </li>
      <li>
        <p><span class="font-weight-bold"> Género: </span>{{ data.paciente_genero }}</p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Edad: </span>{{data.paciente_edad}}
        </p>
      </li>
      <li>
        <p>
          <span class="font-weight-bold">Celular: </span>{{data.paciente_celular}}
        </p>
      </li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" (click)="confirmDelete()" [disabled]="loading" [class.SpinnerLoading]="loading">
      Eliminar
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
