<div class="col-lg-12 col-md-12">
  <div class="card">
    <div class="header">
      <h2>Crear nuevo Plan</h2>
    </div>
    <form class="register-form m-4" [formGroup]="doctorsEspe" (ngSubmit)="submit()"
          autocomplete="off">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nombre del Plan</mat-label>
            <input matInput formControlName="plan_descri" required>
            <mat-icon matSuffix>announcement</mat-icon>
            <mat-error *ngIf="doctorsEspe.get('plan_descri').hasError('required')">
              Nonbre del Plan es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Valor del Plan</mat-label>
            <input type="number" matInput formControlName="plan_valor" required>
            <mat-icon matSuffix>monetization_on</mat-icon>
            <mat-error *ngIf="doctorsEspe.get('plan_valor').hasError('required')">
              Valor del Plan es requerido.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Descuento</mat-label>
              <span matPrefix>
                <mat-icon class="msr-2">money_off</mat-icon>
              </span>
              <input matInput formControlName="plan_desc" required suffix="%" [specialCharacters]="['%']" mask="99">
              <mat-error *ngIf="doctorsEspe.get('plan_desc').hasError('required')">
                Valor del Descuento es requerido.
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Meses de descuento</mat-label>
              <input type="number" matInput formControlName="plan_desc_meses" required minLength="1">
              <mat-icon matSuffix>date_range</mat-icon>
              <mat-error *ngIf="doctorsEspe.get('plan_desc_meses').hasError('required')">
                Meses de descuento es requerido.
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <button class="btn-space" mat-raised-button color="primary"
                  [disabled]="!doctorsEspe.valid || loading" [class.SpinnerLoading]="loading">
            Guardar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
