<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Ver Configuraciones</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">Configuraciones</a>
            </li>
            <li class="breadcrumb-item active">Ver</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                  <div class="header">
                    <h2>Configuraciones</h2>
                  </div>
                  <div class="body">
                    <mat-tab-group>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon msr-2">assignment_ind</mat-icon>
                          Tratamiento
                        </ng-template>
                        <br>
                        <settings-treatment></settings-treatment>
                      </mat-tab>>
                      <mat-tab>
                        <ng-template mat-tab-label>
                          <mat-icon class="example-tab-icon msr-2">monetization_on</mat-icon>
                          Planes
                        </ng-template>
                        <br>
                        <settings-plans></settings-plans>
                      </mat-tab>
                    </mat-tab-group>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
