<div class="container">
  <h3 mat-dialog-title>Desea eliminar este registro?</h3>
  <div mat-dialog-content>
    <ul class="clearfix">
      <li>
        <p><span class="font-weight-bold"> Nombre de la especialidad: </span>{{data[0].espe_name}}</p>
      </li>
      <li>
        <p><span class="font-weight-bold"> Fecha: </span>{{ data[0].espe_fecha | date:'MMM d, y, h:mm:ss a'}}</p>
      </li>
      <li>
    </ul>
  </div>
  <div mat-dialog-actions class="mb-1">
    <button mat-flat-button color="warn" (click)="confirmDelete()" [disabled]="loading" [class.SpinnerLoading]="loading">
      Eliminar
    </button>
    <button mat-flat-button (click)="onNoClick()" tabindex="-1">Cancelar</button>
  </div>
</div>
