<form [formGroup]="paymentForm">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nombre del Doctor</mat-label>
    <input (keyup)="ChangeStatus()" type="text" placeholder="Nombre de Doctor" matInput formControlName="DoctorName"
      required [matAutocomplete]="autoPatient">
    <mat-icon matSuffix>face</mat-icon>
    <mat-autocomplete autoActiveFirstOption #autoPatient="matAutocomplete"
      (optionSelected)="ChangePatient($event.option.id)">
      <mat-option style="line-height: 25px;" *ngFor="let option of filteredOptions | async" [id]="option"
        [value]="option.doctor_apellidos+' '+option.doctor_nombre">
        <div>
          <label style="font-size:16px;">
            {{option.doctor_apellidos}} {{option.doctor_nombre}}
          </label>
          <label class="row" style="font-size:12px;margin-left: -3px">
            &nbsp;Cédula: {{option.doctor_cedula}}
          </label>
        </div>
      </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="paymentForm.get('DoctorName').hasError('required')">
      Doctor es requerido!
    </mat-error>
  </mat-form-field>
</form>