/* You can add global styles to this file, and also import other style files */
@keyframes SpinnerLoading {
  to {
    transform: rotate(360deg);
  }
}

.SpinnerLoading:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: SpinnerLoading 0.8s linear infinite;
}
::-webkit-scrollbar {
  width: 4px;
  overflow-y: scroll;
  background: grey;
  box-shadow: inset 0 0 4px #707070;
}

::-webkit-scrollbar-thumb {
  background: #ff944f;
  border-radius: 10px;
}

.modalFooterBar {
  position: relative;
  right: 0;
  left: -25px;
  bottom: -24px;
  width: 803px;
}