<section class="content">
  <div class="container-fluid">
    <div class="block-header">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <ul class="breadcrumb breadcrumb-style ">
            <li class="breadcrumb-item">
              <h4 class="page-title">Typography</h4>
            </li>
            <li class="breadcrumb-item bcrumb-1">
              <a routerLink="/admin/dashboard/main">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item bcrumb-2">
              <a href="#" onClick="return false;">UI</a>
            </li>
            <li class="breadcrumb-item active">Typography</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Headings -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Heading</strong>
            </h2>

          </div>
          <div class="body">
            <h1>h1. MyAdmin Heading</h1>
            <p class="m-b-30">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam
              dictum felis eu pede mollis
              pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate
              eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            <h2>h2. MyAdmin Heading</h2>
            <p class="m-t-10 m-b-30">In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
              Nullam dictum felis eu pede mollis
              pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean
              vulputate
              eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.</p>
            <h3>h3. MyAdmin Heading</h3>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h4>h4. MyAdmin Heading</h4>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h5>h5. MyAdmin Heading</h5>
            <p class="m-t-15 m-b-30">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
            <h6>h6. MyAdmin Heading</h6>
            <p class="m-t-15">
              In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu
              pede mollis pretium. Integer tincidunt.
              Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
              leo
              ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Headings -->
    <!-- Text Styles -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Text</strong> Styles
              <small>You can use classes which names are
                <code>.font-bold, .font-italic, .font-underline, .font-line-through, .font-overline</code>
              </small>
            </h2>

          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Normal</b>
                </p>
                <p>Default text</p>
                <p class="col-pink">Text pink color</p>
                <p class="col-cyan">Text cyan color</p>
                <p class="col-teal">Text teal color</p>
                <p class="col-orange">Text orange color</p>
                <p class="col-blue">Text blue grey color</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Bold</b>
                </p>
                <p class="font-bold">Default text</p>
                <p class="font-bold col-pink">Text pink color</p>
                <p class="font-bold col-cyan">Text cyan color</p>
                <p class="font-bold col-teal">Text teal color</p>
                <p class="font-bold col-orange">Text orange color</p>
                <p class="font-bold col-blue">Text blue grey color</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Italic</b>
                </p>
                <p class="font-italic">Default text</p>
                <p class="font-italic col-pink">Text pink color</p>
                <p class="font-italic col-cyan">Text cyan color</p>
                <p class="font-italic col-teal">Text teal color</p>
                <p class="font-italic col-orange">Text orange color</p>
                <p class="font-italic col-blue">Text blue grey color</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Underline</b>
                </p>
                <p class="font-underline">Default text</p>
                <p class="font-underline col-pink">Text pink color</p>
                <p class="font-underline col-cyan">Text cyan color</p>
                <p class="font-underline col-teal">Text teal color</p>
                <p class="font-underline col-orange">Text orange color</p>
                <p class="font-underline col-blue">Text blue grey color</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Line Through</b>
                </p>
                <p class="font-line-through">Default text</p>
                <p class="font-line-through col-pink">Text pink color</p>
                <p class="font-line-through col-cyan">Text cyan color</p>
                <p class="font-line-through col-teal">Text teal color</p>
                <p class="font-line-through col-orange">Text orange color</p>
                <p class="font-line-through col-blue">Text blue grey color</p>
              </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <p>
                  <b>Overline</b>
                </p>
                <p class="font-overline">Default text</p>
                <p class="font-overline col-pink">Text pink color</p>
                <p class="font-overline col-cyan">Text cyan color</p>
                <p class="font-overline col-teal">Text teal color</p>
                <p class="font-overline col-orange">Text orange color</p>
                <p class="font-overline col-blue">Text blue grey color</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Text Styles -->
    <!-- Blockquotes -->
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Blockquotes</strong>
            </h2>

          </div>
          <div class="body">
            <blockquote class="m-b-25">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
            </blockquote>
            <blockquote>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>Someone famous in
                <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
            <blockquote class="blockquote-reverse">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
                ante.</p>
              <footer>Someone famous in
                <cite title="Source Title">Source Title</cite>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Blockquotes -->
    <!-- Unordered List -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Unordered</strong> List
            </h2>

          </div>
          <div class="body">
            <ul>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Ordered</strong> List
            </h2>

          </div>
          <div class="body">
            <ol>
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ol>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ol>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
          <div class="header">
            <h2>
              <strong>Unstyled</strong> List
            </h2>

          </div>
          <div class="body">
            <ul class="list-unstyled">
              <li>Lorem ipsum dolor sit amet</li>
              <li>Consectetur adipiscing elit</li>
              <li>Integer molestie lorem at massa</li>
              <li>Facilisis in pretium nisl aliquet</li>
              <li>
                Nulla volutpat aliquam velit
                <ul>
                  <li>Phasellus iaculis neque</li>
                  <li>Purus sodales ultricies</li>
                  <li>Vestibulum laoreet porttitor sem</li>
                  <li>Ac tristique libero volutpat at</li>
                </ul>
              </li>
              <li>Faucibus porta lacus fringilla vel</li>
              <li>Aenean sit amet erat nunc</li>
              <li>Eget porttitor lorem</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Unordered List -->
  </div>
</section>